header {
    position: sticky;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

#one {
    grid-column: 1/2;
    justify-self: center;
}
#two {
    grid-column: 2/3;
    justify-self: center;
}
#three {
    grid-column: 3/4;
    justify-self: center;
}
#four {
    grid-column: 4/5;
    justify-self: center;
}
#six {
    grid-column: 5/6;
    justify-self: center;
}
